body {
    margin: 0;
    background: #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  * {
    font-family: 'VT323', monospace;
  }
  
  body {
    background-image: url(/assets/gray.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .gameboard {
    height: 400px;
    min-height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(39, 38, 38, 0.856);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  h1{
    letter-spacing: 3px;
  }

  .color {
    width: 200px;
    height: 200px;
    display: inline-block;
  }

  .celeste {
    background-image: linear-gradient(to bottom right, #033e55, #98c8db);
  }

  .celeste.light {
    background: #98c8db;
  }

  .violeta {
    background-image: linear-gradient(to bottom left, #69002c, #e0a0c6);
  }

  .violeta.light {
    background-image: linear-gradient(to bottom left, #e0a0c6, #e0bfd3);
  }
  .naranja {
    background-image: linear-gradient(to top right,  #796300,  #f1da75);
  }

  .naranja.light {
    background: #f1db75;
  }
  .verde {
    background-image: linear-gradient(to top left, #1d6100, #a5e987);
    
  }
  .verde.light {
    background: #98ec74;
  }

  .btn-start {
    width: 150px;
    height: 150px;
    background-image: radial-gradient(#f8f8f8, #b3aeae);
    color: #2c3e50;
    font-size: 2.5em;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #dddddd
  }

  .hide {
    pointer-events: none;
    background-image: radial-gradient(#f8f8f8, #bbbbbb);
    color: rgba(88, 88, 88, 0.658);
  }